section {
    text-align: center;
}

svg {
    max-height: 85vh;
    width:auto;
}

.counties {
    fill:none;
}
.states {
    fill:none;
    stroke:#fff;
    stroke-linejoin:round;
}

#tooltip {
    /* position: aboslute; */
}
