body{
}

#wrapper {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

#quote-box{
  width:50vw;
}

#quote-box-text{
  font-family: "Raleway", sans-serif;
  font-size:1.5em;
  min-height:6em;
  
}

#quote-author{
  margin-top:0.5em;
  margin-left:0.7em;
}

#buttons{
  display:flex;
  flex-direction:row;
  margin-top:2em;
  justify-content:space-around;
  
}

.button {
  padding:5px 10px;
  font-family:"Readex Pro", sans-serif;
  font-size:1em;
  background:rgb(245, 245, 245); 
}

@media screen and (max-width:740px){
  #buttons{
    flex-direction:column;
    justify-content:space-between;
  }
  .button{
    width:100%;
    margin:3px 0;
  }
}

@media screen and (max-width:600px){
  #quote-box{
    width:90vw;
  }
}
